/ {
    aliases {
        cdc-acm-uart0 = &uart0;
    };

    /* The Golden Stub: We map all missing hardware to the I2C test driver */
    i2c1: fake_i2c@40001000 {
        compatible = "vnd,i2c";
        reg = <0x40001000 0x1000>;
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;

        /* --- Simulated I2C Devices for PWR_SYS and other threads --- */
        lps22hb: lps22hb@5c {
            compatible = "st,lps22hb-press";
            reg = <0x5c>;
            status = "okay";
        };
        
        bme280: bme280@76 {
            compatible = "bosch,bme280";
            reg = <0x76>;
            status = "okay";
        };
        
        pav3015: pav3015@28 {
            compatible = "vnd,i2c-device";
            reg = <0x28>;
            status = "okay";
        };
        
        ina226: ina226@40 {
            compatible = "ti,ina226";
            reg = <0x40>;
            rshunt-micro-ohms = <100000>;
            current-lsb-microamps = <25>;
            status = "okay";
        };
    };

    iwdg: fake_watchdog@40002000 {
        compatible = "vnd,i2c";
        reg = <0x40002000 0x1000>;
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
    };

    rtc: fake_rtc@40003000 {
        compatible = "vnd,i2c";
        reg = <0x40003000 0x1000>;
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
    };

    /* Simulated Flash Drive for NVS */
    sim_flash: sim_flash@50000000 {
        compatible = "zephyr,sim-flash";
        reg = <0x50000000 0x8000>;
        #address-cells = <1>;
        #size-cells = <1>;
        erase-value = <0xff>;

        my_sim_flash0: flash_sim@0 {
            status = "okay";
            compatible = "soc-nv-flash";
            erase-block-size = <1024>;
            write-block-size = <4>;
            reg = <0x00000000 0x8000>;

            partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                my_storage_partition: partition@6000 {
                    label = "storage";
                    reg = <0x00006000 0x00002000>;
                };
            };
        };
    };
};

/* Explicitly bind uart0 for mps2_an386 */
&uart0 {
    status = "okay";
};
