#include <zephyr/dt-bindings/adc/adc.h>
/delete-node/ &storage_partition;

/ {
    zephyr_user: zephyr,user {
        io-channels = <&adc_emul0 0>;
    };

    adc_emul0: adc_emul {
        compatible = "zephyr,adc-emul";
        nchannels = <1>;
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        status = "okay";
        ref-internal-mv = <3300>;    
        
        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <12>;
        };
    };
    
    aliases {
        cdc-acm-uart0 = &uart1; 
        watchdog0 = &wdog0;
        rtc0 = &rtc_emul0;
        uart-hardware = &uart0;
    };
    
    rtc_emul0: rtc {
        compatible = "zephyr,rtc-emul";
        status = "okay";
        alarms-count = <2>;
    };
    
    /* The Emulator Controller */
    i2c1: fake_i2c@40001000 {
        compatible = "zephyr,i2c-emul-controller";
        reg = <0x40001000 0x1000>;
        clock-frequency = <100000>;
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;

        /* --- Real Sensors (Drivers Compiled) --- */
        lps22hb: lps22hb@5c {
            compatible = "st,lps22hb-press";
            reg = <0x5c>;
            status = "okay";
        };
        
        bme280: bme280@76 {
            compatible = "bosch,bme280";
            reg = <0x76>;
            status = "okay";
        };
        
        ina226: ina226@40 {
            compatible = "ti,ina226";
            reg = <0x40>;
            rshunt-micro-ohms = <100000>;
            current-lsb-microamps = <25>;
            status = "okay";
        };

        /* --- Dummy Devices (Disabled for QEMU) --- */
        pav3015: pav3015@28 {
            compatible = "vnd,i2c-device";
            reg = <0x28>;
            status = "disabled"; /* <--- DISABLE THIS */
        };
    };

    /* Simulated Flash Drive for NVS */
    sim_flash: sim_flash@50000000 {
        compatible = "zephyr,sim-flash";
        /* Expand total simulated flash to 512 KB to fit the Nucleo layout */
        reg = <0x50000000 0x80000>; 
        #address-cells = <1>;
        #size-cells = <1>;
        erase-value = <0xff>;

        my_sim_flash0: flash_sim@0 {
            status = "okay";
            compatible = "soc-nv-flash";
            erase-block-size = <131072>; 
            
            /* CHANGE THIS TO 1: Allows 1-byte and 2-byte FCB writes to succeed */
            write-block-size = <1>; 
            
            reg = <0x00000000 0x80000>;

            partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                code_partition: partition@0 {
                    label = "image-0";
                    reg = <0x00000000 0x00040000>;
                };

                storage_partition: partition@40000 {
                    label = "storage";
                    reg = <0x00040000 0x00040000>;
                };
            };
        };
    };
};
&uart0 {
    status = "okay";
};

&uart1 {
        status = "okay";
};
