#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
    chosen {
        /* Route Zephyr system logs and console to the USB Virtual COM port */
        zephyr,console = &usart2;
        zephyr,shell-uart = &usart2;
        zephyr,code-partition = &code_partition;
        /delete-property/ zephyr,lpm-timer;
        /delete-property/ zephyr,cortex-m-idle-timer;
    };

    aliases {
        cdc-acm-uart0 = &cdc_acm_uart0;
        rtc0 = &rtc;
    };

    zephyr_user: zephyr,user {
        io-channels = <&adc1 0>;
    };

    cpus {
        cpu0: cpu@0 {
            cpu-power-states = <&stop0>;
        };
    };

    power-states {
        stop0: state0 {
            compatible = "zephyr,power-state";
            power-state-name = "suspend-to-ram";
            min-residency-us = <100000>;
            exit-latency-us = <2000>;
        };
    };
};

/* --- DEDICATED SLEEP PIN STATES ---
 * NOTE: the STM32 pinctrl binding requires ONE pinmux value per node.
 * Multi-pin groups are formed by listing several node phandles in
 * pinctrl-N, not by stacking values inside a single node.
 */
&pinctrl {
    /* FIX: Changed from AF7 to strictly ANALOG to prevent UART leakage */
    usart2_tx_sleep: usart2_tx_sleep {
        pinmux = <STM32_PINMUX('A', 2, ANALOG)>;
    };
    usart2_rx_sleep: usart2_rx_sleep {
        pinmux = <STM32_PINMUX('A', 3, ANALOG)>;
    };

    /* FIX: Changed from AF4 to strictly ANALOG to prevent I2C pull-up leakage */
    i2c1_scl_sleep: i2c1_scl_sleep {
        pinmux = <STM32_PINMUX('B', 8, ANALOG)>;
    };
    i2c1_sda_sleep: i2c1_sda_sleep {
        pinmux = <STM32_PINMUX('B', 9, ANALOG)>;
    };

    adc1_in0_sleep: adc1_in0_sleep {
        pinmux = <STM32_PINMUX('A', 0, ANALOG)>;
    };

    usb_otg_fs_vbus_sleep: usb_otg_fs_vbus_sleep {
        pinmux = <STM32_PINMUX('A', 9, ANALOG)>;
    };
};

/* Disable ST-Link UART for Standalone Mode */
&usart2 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-1 = <&usart2_tx_sleep &usart2_rx_sleep>;
    pinctrl-names = "default", "sleep";
};

/* Explicitly disable unused buses to prevent phantom PM warnings */
&i2c2 { status = "disabled"; };
&i2c3 { status = "disabled"; };

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-1 = <&i2c1_scl_sleep &i2c1_sda_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    lps22hb: lps22hb@5c {
        compatible = "st,lps22hb-press";
        reg = <0x5c>;
        status = "okay";
    };
    bme280: bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;
        status = "okay";
    };
    pav3015: pav3015@28 {
        compatible = "vnd,i2c-device";
        reg = <0x28>;
        status = "okay";
    };
    ina226: ina226@40 {
        compatible = "ti,ina226";
        reg = <0x40>;
        rshunt-micro-ohms = <100000>;
        current-lsb-microamps = <25>;
        status = "okay";
    };
};

&adc_common {
    st,adc-prescaler = <4>;
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-0 = <&adc1_in0_pa0>;
    pinctrl-1 = <&adc1_in0_sleep>;
    pinctrl-names = "default", "sleep";

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&gpioa { status = "okay"; };
&iwdg { status = "okay"; };
&clk_lse { status = "okay"; };

&rtc {
    status = "okay";
    clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
             <&rcc STM32_SRC_LSE RTC_SEL(1)>;
    wakeup-source;
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(8)>;
    hse-bypass;
    status = "okay";
};

&pll {
    clocks = <&clk_hse>;
    div-m = <8>;
    mul-n = <384>;
    div-p = <4>;
    div-q = <8>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(96)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <4>;
    apb2-prescaler = <2>;
};

&usbotg_fs {
    status = "okay";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12 &usb_otg_fs_vbus_pa9>;
    /* Only VBUS uses pinctrl sleep. DM/DP left out to allow C++ to force Output Low */
    pinctrl-1 = <&usb_otg_fs_vbus_sleep>;
    pinctrl-names = "default", "sleep";

    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;
/delete-node/ &storage_partition;

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        code_partition: partition@0 {
            label = "image-0";
            reg = <0x00000000 0x00040000>;
        };

        storage_partition: partition@40000 {
            label = "storage";
            reg = <0x00040000 0x00040000>;
        };
    };
};
